<a href="https://colab.research.google.com/github/Hani1-2/DeepLearningAssignmnt/blob/master/Concrete_Compressive_Strength.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import keras

In [ ]:
import io
from google.colab import files
uploaded = files.upload()

Saving compresive_strength_concrete.csv to compresive_strength_concrete.csv

In [ ]:
civil_dataset = pd.read_csv(io.BytesIO(uploaded['compresive_strength_concrete.csv']))
civil_dataset.head()

   Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
0                                      540.0  ...                                             79.99
1                                      540.0  ...                                             61.89
2                                      332.5  ...                                             40.27
3                                      332.5  ...                                             41.05
4                                      198.6  ...                                             44.30

[5 rows x 9 columns]

# Checking None Values

In [ ]:
civil_dataset.isna().sum()

Cement (component 1)(kg in a m^3 mixture)                0
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    0
Fly Ash (component 3)(kg in a m^3 mixture)               0
Water  (component 4)(kg in a m^3 mixture)                0
Superplasticizer (component 5)(kg in a m^3 mixture)      0
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     0
Fine Aggregate (component 7)(kg in a m^3 mixture)        0
Age (day)                                                0
Concrete compressive strength(MPa, megapascals)          0
dtype: int64

In [ ]:
civil_dataset.shape

(1030, 9)

In [ ]:
civil_dataset.describe()

       Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
count                                1030.000000  ...                                       1030.000000
mean                                  281.167864  ...                                         35.817961
std                                   104.506364  ...                                         16.705742
min                                   102.000000  ...                                          2.330000
25%                                   192.375000  ...                                         23.710000
50%                                   272.900000  ...                                         34.445000
75%                                   350.000000  ...                                         46.135000
max                                   540.000000  ...                                         82.600000

[8 rows x 9 columns]

In [ ]:
civil_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Cement (component 1)(kg in a m^3 mixture)              1030 non-null   float64
 1   Blast Furnace Slag (component 2)(kg in a m^3 mixture)  1030 non-null   float64
 2   Fly Ash (component 3)(kg in a m^3 mixture)             1030 non-null   float64
 3   Water  (component 4)(kg in a m^3 mixture)              1030 non-null   float64
 4   Superplasticizer (component 5)(kg in a m^3 mixture)    1030 non-null   float64
 5   Coarse Aggregate  (component 6)(kg in a m^3 mixture)   1030 non-null   float64
 6   Fine Aggregate (component 7)(kg in a m^3 mixture)      1030 non-null   float64
 7   Age (day)                                              1030 non-null   int64
 8   Concrete compressive strength(MPa, megapascals)        1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

Since, there is no null and string values. So we can proceed further.

# Centralizing Data

In [ ]:
#Checking for duplicates
civil_dataset.loc[civil_dataset.duplicated()]

     Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
77                                       425.0  ...                                             33.40
80                                       425.0  ...                                             33.40
86                                       362.6  ...                                             35.30
88                                       362.6  ...                                             35.30
91                                       362.6  ...                                             35.30
100                                      425.0  ...                                             49.20
103                                      425.0  ...                                             49.20
109                                      362.6  ...                                             55.90
111                                      362.6  ...                                             55.90
123                                      425.0  ...                                             60.29
126                                      425.0  ...                                             60.29
132                                      362.6  ...                                             71.30
134                                      362.6  ...                                             71.30
137                                      362.6  ...                                             71.30
146                                      425.0  ...                                             64.30
149                                      425.0  ...                                             64.30
155                                      362.6  ...                                             77.30
157                                      362.6  ...                                             77.30
160                                      362.6  ...                                             77.30
169                                      425.0  ...                                             65.20
172                                      425.0  ...                                             65.20
177                                      362.6  ...                                             79.30
179                                      362.6  ...                                             79.30
182                                      362.6  ...                                             79.30
809                                      252.0  ...                                             19.69

[25 rows x 9 columns]

In [ ]:
civil_dataset.columns

Index(['Cement (component 1)(kg in a m^3 mixture)',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)',
       'Fly Ash (component 3)(kg in a m^3 mixture)',
       'Water  (component 4)(kg in a m^3 mixture)',
       'Superplasticizer (component 5)(kg in a m^3 mixture)',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)', 'Age (day)',
       'Concrete compressive strength(MPa, megapascals) '],
      dtype='object')

In [ ]:
# Splitting data inti dependent and independent attributes
x = civil_dataset.drop (columns=['Concrete compressive strength(MPa, megapascals) '])
y = civil_dataset['Concrete compressive strength(MPa, megapascals) ']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=42)

# Split The Data

In [ ]:
print ('Shape of Train dataset (Features): ',x_train.shape)
print ('Shape of Train dataset (Target)  : ',y_train.shape)
print ('Shape of Test dataset (Features) : ',x_test.shape)
print ('Shape of Test dataset (Target)   : ',y_test.shape)

Shape of Train dataset (Features):  (721, 8)
Shape of Train dataset (Target)  :  (721,)
Shape of Test dataset (Features) :  (309, 8)
Shape of Test dataset (Target)   :  (309,)

In [ ]:
train_stats=x_train.describe()
train_stats

       Cement (component 1)(kg in a m^3 mixture)  ...   Age (day)
count                                 721.000000  ...  721.000000
mean                                  284.412344  ...   46.049931
std                                   108.360156  ...   61.650743
min                                   102.000000  ...    1.000000
25%                                   192.000000  ...   14.000000
50%                                   277.000000  ...   28.000000
75%                                   362.600000  ...   56.000000
max                                   540.000000  ...  365.000000

[8 rows x 8 columns]

In [ ]:
def norm(x):
  return (x - train_stats.loc['mean'])/train_stats.loc['std']

normed_train_data = norm(x_train)
normed_test_data = norm(x_test)

# Buildiong Network

In [ ]:
from keras import models
from keras import layers
def build_model():
    model = models.Sequential()
    model.add(layers.Dense(10, activation='relu',
                           input_shape=(x_train.shape[1],)))
    model.add(layers.Dense(8, activation='relu'))
    model.add(layers.Dense(6))
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [ ]:
model = build_model()

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                90
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
=================================================================
Total params: 232
Trainable params: 232
Non-trainable params: 0
_________________________________________________________________

In [ ]:
example_batch = normed_train_data
example_result = model.predict(example_batch)
example_result

array([[-1.3534752 ,  0.47044855,  0.83934593, -0.38144583, -0.87221295,
         0.11521967],
       [-0.00382413,  0.6570436 ,  0.0478335 , -0.14892611,  0.00712913,
        -0.6360638 ],
       [ 0.36126918,  0.75308686, -0.53359807, -0.46115983,  0.4734257 ,
        -1.214085  ],
       ...,
       [-0.18065707, -0.09980077,  0.30586654,  0.16534406, -0.10106512,
         0.02905457],
       [ 0.08147414,  1.0158144 ,  0.0138194 , -0.2938956 ,  0.13252576,
        -1.2079083 ],
       [-0.18690518, -0.02957709,  0.28274944,  0.11270683, -0.08621734,
         0.06218752]], dtype=float32)

In [ ]:
model.fit(x_train, y_train,
          epochs=100, batch_size=16, verbose=0)
test_mse_score, test_mae_score = model.evaluate(x_test, y_test)

10/10 [==============================] - 0s 1ms/step - loss: 129.0571 - mae: 9.1913

In [ ]:
test_mse_score

129.05714416503906

In [ ]:
test_mae_score

9.191304206848145

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([[52.4485  , 53.50676 , 53.028046, 51.914925, 51.557205, 53.418056],
       [47.75406 , 48.264122, 45.508244, 45.721928, 45.528294, 47.084496],
       [61.209286, 60.983624, 56.98076 , 58.44841 , 58.515705, 59.100716],
       ...,
       [31.910358, 32.652   , 31.291933, 30.848993, 30.636538, 32.09044 ],
       [23.98405 , 24.563826, 24.166586, 23.672907, 23.583994, 24.34195 ],
       [40.02079 , 40.493607, 38.098564, 38.272415, 38.10789 , 39.446243]],
      dtype=float32)